/*
    Document   : custom
    Created on : Dec 31, 2013, 2:09:37 PM
    Author     : Chris
    Description:
        Custom styles for ExamHawk pages
*/

 /* Orange Color #FA6900 */
 /*Dark blue #1D3599 */
 /*Light blue #00BDFF */

 @font-face { font-family: 'bemio'; src: url('http://www.new-leaf.co/fonts/bemio.eot'); src: url('http://www.new-leaf.co/fonts/bemio.eot?#iefix') format('embedded-opentype'), url('http://www.new-leaf.co/fonts/bemio.ttf') format('truetype'); font-weight: normal; font-style: normal; }

.alt-btn:focus, .subscribe-btn, .progress .progress-bar, .accordionMod .panel-heading .current, #current:after, .tp-leftarrow.default:hover,.tp-rightarrow.default:hover, .nivo-prevNav:hover, .nivo-nextNav:hover, .contact-box:hover, #options li a.selected, .ch-info .ch-info-back {
    background: #FA6900;
}


.pagination > .active > a, .pagination > .active > span, .pagination > .active > a:hover, .pagination > .active > span:hover, .pagination > .active > a:focus, .pagination > .active > span:focus, .pager li > a:hover, .pager li > a:focus, .navbar-toggle i, .cn-wrapper li a, .cn-wrapper:after {
    background-color: #FA6900;
    color: #fff;
}

#options li a.selected {
	border: 1px solid #FA6900;
}

.ie8 .alt-btn-color, .ie9 .alt-btn-color {
	background: #FA6900 !important;
}

.ie8 .alt-btn-color:hover, .ie9 .alt-btn-color:hover {
	background: #c75c0f !important;
}

.alt-btn-color:hover, .subscribe-btn:hover {
	background: -webkit-linear-gradient(#FA6900,#c75c0f);
	background: -moz-linear-gradient(#FA6900,#c75c0f);
	background: -o-linear-gradient(#FA6900,#c75c0f);
	background: -ms-linear-gradient(#FA6900,#c75c0f);
	background: linear-gradient(#FA6900,#c75c0f);
}

.alt-btn-color , .subscribe-btn {
	background: -webkit-linear-gradient(#c75c0f,#FA6900);
	background: -moz-linear-gradient(#c75c0f,#FA6900);
	background: -o-linear-gradient(#c75c0f,#FA6900);
	background: -ms-linear-gradient(#c75c0f,#FA6900);
	background: linear-gradient(#c75c0f,#FA6900);
	border: 1px solid #a25c29;
	color: #FFFFFF;
	-webkit-box-shadow: inset 0 1px 1px 0 #dba279, 0 2px 0 -1px rgba(0,0,0,0.2);
	box-shadow: inset 0 1px 1px 0 #dba279, 0 2px 0 -1px rgba(0,0,0,0.2);
	cursor: pointer;
}


/*Blue #00BDFF  */
.btn:focus, .subscribe-btn, .progress .progress-bar, .accordionMod .panel-heading .current, #current:after, .tp-leftarrow.default:hover,.tp-rightarrow.default:hover, .nivo-prevNav:hover, .nivo-nextNav:hover, .contact-box:hover, #options li a.selected, .ch-info .ch-info-back {
    background: #323B44;
}


.pagination > .active > a, .pagination > .active > span, .pagination > .active > a:hover, .pagination > .active > span:hover, .pagination > .active > a:focus, .pagination > .active > span:focus, .pager li > a:hover, .pager li > a:focus, .navbar-toggle i, .cn-wrapper li a, .cn-wrapper:after {
    background-color: #00BDFF ;
    color: #fff;
}

#options li a.selected {
	border: 1px solid #00BDFF ;
}

.ie8 .btn-color, .ie9 .btn-color {
	background: #00BDFF  !important;
}

.ie8 .btn-color:hover, .ie9 .btn-color:hover {
	background: #2eaef0 !important;
}

.btn-color:hover, .subscribe-btn:hover {
	background: -webkit-linear-gradient(#00BDFF ,#2eaef0);
	background: -moz-linear-gradient(#00BDFF ,#2eaef0);
	background: -o-linear-gradient(#00BDFF ,#2eaef0);
	background: -ms-linear-gradient(#00BDFF ,#2eaef0);
	background: linear-gradient(#00BDFF ,#2eaef0);
}

.btn-color, .subscribe-btn {
	background: -webkit-linear-gradient(#2eaef0,#00BDFF );
	background: -moz-linear-gradient(#2eaef0,#00BDFF );
	background: -o-linear-gradient(#2eaef0,#00BDFF );
	background: -ms-linear-gradient(#2eaef0,#00BDFF );
	background: linear-gradient(#2eaef0,#00BDFF );
	border: 1px solid #2f7295;

	-webkit-box-shadow: inset 0 1px 1px 0 #9fcee7, 0 2px 0 -1px rgba(0,0,0,0.2);
	box-shadow: inset 0 1px 1px 0 #9fcee7, 0 2px 0 -1px rgba(0,0,0,0.2);
	cursor: pointer;
}


#current,.menu ul li a:hover,.menu ul>li:hover>a {
    color:#00BDFF;
    border-bottom: 3px solid #00BDFF ;
}

ul.why li:before {
    background: #00BDFF ;
}

.menu ul ul {
    border-top: 3px solid #00BDFF  !important;
}

#horizontal-tabs ul.tabs li.current {
    border-top: 2px solid #00BDFF ;
}

#vertical-tabs ul.tabs li.current {
    border-left: 2px solid #00BDFF ;
}

.author-content, div.content-box.big, #cn-tabs .service, .comment-des, .contact-box {
	/*border-bottom-color:#00BDFF ;*/
}

a, .post-item h4 a:hover, .cn-wrapper li a:hover, .cn-wrapper li a.active {
    color: #00BDFF ;
}


.logo h1{
    color:#FFBA00;
}

.slogan-title{
    color:#FF3900;
}

.main-content h3{
    color:#FF3900;
}

.ch-info-wrap {
    background:#1D3599;
}


h3.title {
    color:#1D3599;
    font-weight: bold;
}

#footer h3 {
    color: #EDEDEF;
    text-align:center;
    text-transform:uppercase;
    font-size: 18px;
    font-weight: bold;
    line-height: 26px;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.15);
}

.footer-heading{
    color: #EDEDEF;
    text-align:center;
    text-transform:uppercase;
    font-size: 18px;
    font-weight: bold;
    line-height: 26px;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.15);
}

#footer a{
    color: #9F9F9F;
    font-size: 14px;
    line-height: 26px;
    text-decoration: none;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.15);
    transition: color 0.1s ease 0s;
    width:100%;
}

.btn-new-dark-blue{
    color: #fff;
    background-color: #031885;
    border:1px solid #3D498A;
}
.btn-new-dark-blue:hover, .btn-new-dark-blue:focus, .btn-new-dark-blue:active {
    color: #fff;
    background-color: #010E4E;
    border:1px solid #3D498A;
}

.btn-new-light-blue{
    color: #fff;
    background-color: #01ABF9;
    border:1px solid #0085C2;
}

.btn-new-light-blue:hover, .btn-new-light-blue:focus, .btn-new-light-blue:active {
    color: #fff;
    background-color: #016EF9;
    border:1px solid #005DC2;
}

.demo-link{
    color:#FFBA00 !important;
}

#footer a:hover{color:#FFFFFF;}

.background-owl{
    position: relative;
}

.background-owl:after {
    content : "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    background-image: url('../img/sandbox/lg-owl.png');
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    opacity:0.20;
    height:100%;
    width:100%;
}

.student-header{
    color: #01ABF9;
    text-align:center;
    font-style:oblique;
    letter-spacing:3px
}


blockquote p{
/*    font-size:22px;*/
}

blockquote.pull-right small{
    font-size:18px;
}

blockquote.pull-right small:after{
    content:none;

}


.features-row {
position: relative;
z-index: 1; /* prevent shadows falling behind containers with backgrounds */

list-style: none;
margin: 0;
padding: 0; }


.content-box{
position: relative;
float: left;
width: 100%;
height: 150px;
padding: 0;
border: 1px solid #efefef;
margin: 0 30px 30px 0;
background: #fff;
-webkit-box-shadow: 0 1px 4px rgba(100, 0, 0, 0.27), 0 0 40px rgba(100, 0, 0, 0.06) inset;
-moz-box-shadow: 0 1px 4px rgba(100, 0, 0, 0.27), 0 0 40px rgba(100, 0, 0, 0.06) inset;
box-shadow: 0 1px 4px rgba(100, 0, 0, 0.27), 0 0 40px rgba(100, 0, 0, 0.06) inset; }


.content-box:before,
.content-box:after {
content: '';
z-index: -1;
position: absolute;
left: 10px;
bottom: 10px;
width: 70%;
max-width: 300px; /* avoid rotation causing ugly appearance at large container widths */
max-height: 100px;
height: 55%;
-webkit-box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
-moz-box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
-webkit-transform: skew(-15deg) rotate(-6deg);
-moz-transform: skew(-15deg) rotate(-6deg);
-ms-transform: skew(-15deg) rotate(-6deg);
-o-transform: skew(-15deg) rotate(-6deg);
transform: skew(-15deg) rotate(-6deg); }


.content-box:after {
left: auto;
right: 10px;
-webkit-transform: skew(15deg) rotate(6deg);
-moz-transform: skew(15deg) rotate(6deg);
-ms-transform: skew(15deg) rotate(6deg);
-o-transform: skew(15deg) rotate(6deg);
transform: skew(15deg) rotate(6deg); }

.client-quote{
    margin-top:50px !important;
}

#hawkee-logo{
    display:block;
    margin:auto;
}

html, body, .background-banner{
        background-color:#FAFAFA;;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	width: 100%;
	height: 100%;
	min-height:700px;
}

#front-page-background-banner{
/*    background-image: url('../img/sandbox/IMG_1472-2.jpg');*/
    background-color:#FFFFFF;
    background-image: url('../img/sandbox/professor-arms-crossed-whiteboard2.jpg');
    background-position: center center;
    min-height:954px;
}

.institution-background-banner{
	background-image: url('../img/sandbox/Campus_web-18-small.jpg');
}

.test-taker-background-banner{
	background-image: url('../img/sandbox/businesswoman-laptop-small.jpg');
	background-position: center top;
}

#background-title{
    color:#2c324e;
    text-align:center;
    font-size:35px;
    text-transform: uppercase;
    text-shadow:0px 4px 3px rgba(0,0,0,0.4),
		0px 8px 13px rgba(0,0,0,0.1),
		0px 18px 23px rgba(0,0,0,0.1);
}

#background-subtitle{
    font-style:italic;
    font-size:26px;
    color:#2c324e;
    text-align:center;
    font-weight:400;
    text-shadow:0px 4px 3px rgba(0,0,0,0.4),
		0px 8px 13px rgba(0,0,0,0.1),
		0px 18px 23px rgba(0,0,0,0.1);
}

.horizontal-table{
    width:100%;
    text-align:center;

}

.horizontal-table td{
    margin-left:50px;
}

.horizontal-table a{
    color:#FFFFFF;
    font-weight: 600;
    font-size: 17px;
}

.horizontal-table a:hover{
    text-decoration:none;
    color:#00BDFF;
    border-bottom:3px solid #00BDFF ;
}

.btn-special{
    min-width: 200px;
}

.menu ul>li>a {
    font-size:16px;
}

.menu ul>li>a:hover {
    border-bottom:none;
}

.content {
    min-height: 800px;
}

.accordionMod ul>li{
    list-style-type:disc;
}
.panel-body {
    padding: 0 35px;
}

.reply label {
    color: #1D3599;
    text-shadow: none;
    font-weight: 400;
    font-size: 26px;
    font-style: normal;
}

.content-container{
    margin: 0 auto;
    padding: 0;
    position: absolute;
    bottom: 0;

    font: 13px/18px 'Roboto', sans-serif;
    color:#000000;
}

#live-demo-content-container{
    height:475px;
    width:450px;
    position: absolute;
    top: 18%;
    right: 20%;
    border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    -o-border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.8);

}

#test-takers-content-container{
    width: 1140px;
    height: 310px;
    border-radius: 0px;
    -moz-border-radius: 0px;
    -webkit-border-radius: 0px;
    -o-border-radius: 0px;

}


#institutions-content-container{
    height: 94%;
    border-radius: 0px;
    -moz-border-radius: 0px;
    -webkit-border-radius: 0px;
    -o-border-radius: 0px;
    position:relative;
    float:left;
}

.about-content-container{
    position:relative;
    color:#000000;
    padding-left:0;
}

.front-content-container{
    margin-top:10%;
    background-color:transparent;
}

.front-content-container h2{
    color:#3A3A3A;
    font-family: 'Merriweather Sans', sans-serif;
    font-weight: 700;
    line-height:60px;
    font-size: 52px;
    margin-left:10px;
}

.front-content-container p{
    font-size: 20px;
    padding: 0 15px;
    line-height: 35px;
    margin:25px 0;

}


.content-container h2{
   color: #3A3A3A;
    font-family: 'Merriweather Sans', sans-serif;
    font-weight: 700;
    line-height: 60px;
    font-size: 52px;
}

.content-container h2>small{
    letter-spacing:1px;
    color:#1D3599;
    text-shadow: none;
    font-weight: 400;
    font-size: 26px;
    font-style: normal;
}

.content-container dt{
    font-family: 'Roboto', sans-serif;
    font-weight:800;
    font-size:32px;
    color:#1D3599;
}

.content-container dd{
    font-family: 'Open Sans Condensed', sans-serif;
    font-weight:400;
    font-size:22px;
    text-align:left;
    line-height: 1.4;
}

.content-container h3{
    color: #1D3599;
    font-family: 'Merriweather Sans', sans-serif;
    font-weight: 400;
    letter-spacing: 2px;
    margin-bottom: 15px;
    font-size: 28px;
    text-align: left;
}
.content-container p{
    font-family: 'Roboto',sans-serif;
    color:#727272;
    font-size: 20px;
    padding: 0 15px;
    line-height: 30px;
    margin: 0 0 25px 0;
}

.cta-container .btn{
    min-width:200px;
}


.about-background-banner{
   background-color:#FAFAFA;
}

.about-sidebar{
    position:relative;
    color:#FFFFFF;
    padding:0;
}

.category ul li:before {
    content: "";
    padding-right: 10px;
}

.widget.category ul li {
    margin-bottom: 7px;
    border-bottom: none;
    padding: 3px 0;
}

.category-list a{
    color: #FFFFFF;
    font-size: 16px;
    line-height: 32px;
    text-decoration: none;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.15);
    transition: color 0.1s ease 0s;
}
.category-list a:hover{
    color: #000000;
}

.footer-padding{
    margin-top:55px;
    text-align:center !important;
}

.feature-boxes{
    background: url('../img/cream_dust.png') repeat;
    min-height:1px;
    padding-top:100px;
    padding-bottom:50px;
}

.hawkee-footer{
    margin:0 auto;
    text-align:center;
    display: block;
    height: auto;
    max-width: 50%;
}

#header .phone-email {
    padding:0;
    color: #FFFFFF;
}

.cta-container{
    margin-top: 10px;
}

.product-tour{
    margin-top:50px;
    padding: 15px 55px;
    font-size: 1.25em;
    font-weight:400;
    text-transform: uppercase;
    letter-spacing: 0.20em;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    background: rgba(29, 53, 153, 0.75);
    color: #FFFFFF;
    border: 0px solid #FFFFFF;
    transition: color 1s;
    -webkit-transition: color 1s; /* Safari */
    transition: border 1s;
    -webkit-transition: border 1s; /* Safari */
}

.product-tour:hover{
    background-color: rgba(29, 53, 153, 1);
    border:0px solid #FFFFFF;
    color: #FFFFFF;
}

.live-demo{
    margin-top:50px;
    padding: 15px 55px;
    font-size: 1.25em;
    font-weight:400;
    text-transform: uppercase;
    letter-spacing: 0.20em;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    background: rgba(255, 186, 0, 0.75);
    color: #4E4E4E;
    border: 0px solid #BBBBBB;
    transition: color 1s;
    -webkit-transition: color 1s; /* Safari */
    transition: border 1s;
    -webkit-transition: border 1s; /* Safari */
}

.live-demo:hover{
    background-color:#FFBA00;
    border:0px solid #272727;
    color: #272727;
}


.institution-content-container{

}

.institution-content-container h2{
    color: #3A3A3A;
    font-family: 'Merriweather Sans', sans-serif;
    font-weight: 700;

    line-height: 60px;
    font-size: 46px;
}
.institution-content-container h3{
    color: #1D3599;
    font-family: 'Merriweather Sans', sans-serif;
    font-weight: 400;
    letter-spacing: 2px;
    margin-bottom:15px;
    font-size: 28px;
    text-align: left;

}
.institution-content-container p{
    font-size: 20px;

    padding: 0 15px;
    line-height: 30px;
    margin: 0 0 25px 0;

}

.form-group {
    margin-bottom:0;
}

.modal-dialog-center {
    margin-top: 10%;
}
.modal-header{
    background-color:#323B44;
}
.modal-title{
    color:#FFFFFF;
}

h3.modal-success-msg{
    color: #1D3599;
    font-family: 'Merriweather Sans', sans-serif;
    font-weight: 400;
    letter-spacing: 2px;
    margin-bottom: 15px;
    font-size: 28px;
    text-align: left;
}
.modal-success-msg{
    font-size: 20px;
    padding: 0 15px;
    line-height: 30px;
    margin: 0 0 25px 0;
}
.conference-btn{
    position:relative;
    bottom:8px;
}