.step{
	padding: 0;
	height:160px;
}

.step span{
	font-size:4.61em;
	line-height: 1;
	color: #F7AA34;
	float: left;
	margin: 0 20px 60px 0;
}

.step h2{
	font-size: 1.538em;
	margin: 10px 0 10px 0;
	width: 340px;
}

.step p{
    text-align:justify
}

.step h3.title{

}

.step img{
	float:left;
	margin-right:15px;
}

#bg-row{
      background: url(../img/computer-silhouette.jpg) no-repeat;
      background-size:cover;
      opacity:0.4;
      filter:alpha(opacity=40); /* For IE8 and earlier */
}

#institution-header{
    font-size: 60px;
line-height: 80px;
text-align: center;
letter-spacing: 3px;
color: #01ABF9;
font-weight: 600;
}